main {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: start;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    text-align: start;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    text-align: start;
    font-weight: bold;
}

/* Mobile Nav Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    font-family: 'Roboto', sans-serif;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: blue;
    text-decoration: underline;
  }

  /* Card Styling */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    border-radius: 5px;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  /* I used the W3Schools navbar code to make the navbar. I changed the items in the bar and added underline to the active page. Finally, I changed the color of the selected element to blue.*/
