body {
    background-color: #054fb9;
    color: white;
}

nav {
    border: 2px solid black;
}

nav a {
    background-color: black;
    padding: 5px;
    margin: 20px;
}

a {
    text-align: underline;
    border: blue;
}

#skip {
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 900px;
}

h1 {
    font: 70px 'Open Sans';
    font-weight: bold;
    text-align: center;
}

h2, h3 {
    font: 30px Arial;
    font-weight: bold;
    color: #00bf7d;
}

p {
    line-height: 1.25;
}

img {
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    display: inline-block;
    margin-left: 50px;
}
