main {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: start;
    font-weight: bold;
}

/* Mobile Nav Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    font-family: 'Roboto', sans-serif;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
    text-decoration: underline;
  }

  /* I used the W3Schools navbar code to make the navbar. I changed the items in the bar and added underline to the active page. */
