main {
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: 10px;
  font-size: 40px;
  text-align: start;
  font-weight: bold;
}

h2 {
  margin-left: 10px;
  padding-top: 20px;
  font-size: 30px;
  text-align: start;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  margin-left: 10px;
  padding-top: 20px;
  font-size: 20px;
  text-align: start;
  font-weight: bold;
}

/* Mobile Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-family: 'Roboto', sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: blue;
  text-decoration: underline;
}

/* Card Styling */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  max-width: 600px;
  border-radius: 5px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}

img {
  border-radius: 5px 5px 5px 5px;
}

.container {
  padding: 2px 16px;
}

/* Travel Card Styling */
.card-travel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center; 
  
}

.card-travel img {
  width: 100%;
  max-height: 400px;  
  object-fit: cover;  
  display: block;     
  margin: 0 auto;     
}

.card-travel p {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Gallery Styling */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  margin: 20px auto 0 auto;
}

.gallery img {
  height: 100%;
  max-height: 300px;
  padding: 2%;
  border-radius: 5%;
  object-fit: cover;
  display: block;
}

/* Travel Gallery */
.travel-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 700px;
  margin: 20px auto 0 auto;
}

.travel-gallery .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  margin: 0 auto;
}

/* Likes Styling */
.likes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.card.likes {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Reduced motion */
.still-image {
  display: none;
}

.motion-image {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  .still-image {
    display: block;
  }

  .motion-image {
    display: none;
  }
}

/* I used the W3Schools navbar code to make the navbar. I changed the items in the bar and added underline to the active page. Finally, I changed the color of the selected element to blue.*/